<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/foundation.min.css"/>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Idade</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <% users.forEach(user=>{ %>
        <tr>
          <td><%-user['nome']%></td>
          <td><%-user['email']%></td>
          <td><%-user['idade']%></td>
          <td><a href="users/update/<%-user['_id']%>">Editar</a>|<a href="users/delete/<%-user['_id']%>">Excluir</a></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  <a class="primary button" href="users/create">Incluir Usuário</a>
  </body>
</html>
